@media screen and (max-width: $breakpoint-large){
	body { font-size: 18px; }
}

@media screen and (max-width: $breakpoint-medium){
	body { font-size: 17px; }
}

@media screen and (max-width: $breakpoint-small){
	body { font-size: 16px; }
}