/***********************
        DEFAULTS
************************/


/***********************
        HEADER
************************/

header {
    height: $headerheight;
    padding-bottom: 160px;
    @extend %clearfix;
}
.logo {
    @extend %vertical-center;
    position: absolute;
    left: 0;
}

.main-menu {
    float: right;
    line-height: $headerheight;
    a {
        padding: 9px 18px;
        border-radius: 4px;
        color: white; 
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 2px;
        transition: background 0.2s ease;
        &:hover {
            background: $neutral-90;
        }   
    }
}

/****************************
          FOOTER
*****************************/

footer {
    text-align: center;
    padding: 40px 0;
}
