body {
    font: 400 16px/1.3 'Lato', helvetica, sans-serif;
}


/***********************
        HEADER
************************/
header {
    height: $headerheight;
    @extend %clearfix;
}
.logo {
    @extend %vertical-center;
    position: absolute;
    left: 0;
}

.main-menu {
    float: right;
    line-height: $headerheight;
    a {
        padding: 10px 30px;
        margin-left: 30px;
        color: white;    
    }
}



/****************************
          FOOTER
*****************************/

footer {
    position: relative;
    width: 100%;
    height: 100px;
    background: yellow;
    .footer-msg {
        @extend %absolute-center;
        position: absolute;
        color: white;
        font-size: 15px;
    }
    .sm-footer {
        float: right;
        margin: 0 20px 0 0;
        @extend %vertical-center;
        li {
            display: inline-block;
            list-style: none;
            padding-right: 20px; 
            a { color: white; }
        }
    }
}


