body, input, textarea, button {
	font: 400 19px 'proxima-nova', sans-serif;
	color: $txt;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}

strong, b { font-weight: 600; }

h1, h2, h3 {
	font-style: normal;
	font-weight: 300;
	color: $header;
	line-height: 1;
	text-rendering: optimizeLegibility;
}

h1 { font-size: 3em; margin-bottom: 0.25em; }
h2 { font-size: 2.4em; margin-bottom: 0.5em; }
h3 {
	font-size: 1.4em;
	font-weight: 400;
}

p {
	line-height: 1.4;
	margin: 0.5em 0;
}

a {
	color: inherit;
	text-decoration: underline;
}

::-webkit-input-placeholder { color: $neutral-50; }
:-moz-placeholder 			{ color: $neutral-50; }
::-moz-placeholder 			{ color: $neutral-50; }
:-ms-input-placeholder 		{ color: $neutral-50; }

::selection {
	background: $purple;
	color: #fff;
}