/* Colors */ 
$red:			#FD6D69;
$orange:		#FF9F6D;
$yellow: 		#FFD573;
$green:			#B5E0A6;
$blue:			#97D7F4;
$purple:		#9E8FE7;

$neutral-100:	#2D2C45; // Darkest
$neutral-90:	#3C3C5A;
$neutral-80:	#4C4D6C;
$neutral-70:	#5F6185;
$neutral-60:	#7C80A7;
$neutral-50:	#9CA1C4;
$neutral-40:	#B8BEDB;
$neutral-30:	#D8DDF0;
$neutral-20:	#E6EAF5;
$neutral-10:	#F2F4FA;
$neutral-0:		#FFFFFF; // Lightest

/* Site Colors */
$body-bg : $neutral-0;
$txt     : $neutral-70;
$header  : $neutral-80;

$pagewidth: 1160px;
$headerheight: 70px;

/* Breakpoints */
$breakpoint-full: 1000px;
$breakpoint-large: 800px;
$breakpoint-medium: 600px;
$breakpoint-small: 410px;



/* Silents */
%clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	  }
	  &:after { clear: both; }
}
%absolute-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
%horizontal-center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
%vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Mixins */
@mixin button($background: $neutral-80, $has-arrow: false) {
	display: inline-block;
	background-color: $background;
	color: white;
	padding: 15px 25px;
	border-radius: 5px;
	transition: background 0.2s ease;
	@if $has-arrow {
		&:after {
			content: '';
			background-image: url(../images/arrow.svg);
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: 25px;
		}
	}
	&:hover {
		background-color: $neutral-70;
	}
}


