/* Colors */ 
$red:			#FF1F4B;
$orange:		#FF7733;
$yellow: 		#FFC533;
$green:			#69D84B;
$blue:			#44C5FF;
$purple:		#7053FF;
$black:			#222237;
$white:			#FFFFFF;

$neutral-100:	#2D2C45;
$neutral-90:	#3C3C5A;
$neutral-80:	#4C4D6C;
$neutral-70:	#5F6185;
$neutral-60:	#7C80A7;
$neutral-50:	#9CA1C4;
$neutral-40:	#B8BEDB;
$neutral-30:	#D8DDF0;
$neutral-20:	#E6EAF5;
$neutral-10:	#F2F4FA;

/* Site Colors */
$body-bg : $black;
$txt     : $neutral-70;
$header  : $neutral-80;

$pagewidth: 760px;

$spacing: 0.75em;

$breakpoint-large: 600px;
$breakpoint-medium: 530px;
$breakpoint-small: 400px;

/* Silents */
%clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	  }
	  &:after { clear: both; }
}

%btn, .btn {
	display: inline-block;
	background: $purple;
	border: none;
	color: #fff;
	text-decoration: none;
	padding: 0.75em 1.2em;
	border-radius: 5px;
	margin: 0 auto;
	transition: background 0.2s ease;
	&:hover {
		cursor: pointer;
		background: $purple - 10;
	}
	&.btn-grey {
		background: $neutral-20;
		color: $txt;
		&:hover { background: $neutral-30; }
	}
	&.btn-tiny {
		font-size: 0.65em;
		padding: 0.5em 1em;
		letter-spacing: 1px;
		margin: 0;
		text-transform: uppercase;
		font-weight: bold;
	}
}