@import 'reset.css', '_typography.scss', '_variables.scss', '_static-elements.scss';

/***********************
	 UTILITY CLASSES
************************/

.margin-container {
	position: relative;
	max-width: $pagewidth;
	margin: 0 auto;
	@extend %clearfix;
}

.hero {
	width: 100%;
	min-height : 400px;
	background: yellow;
}


/***********************
	     HOME
***********************/

.typed-cursor{
    opacity: 1;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    20% { opacity: 1; }
    100% { opacity:0; }
}

.social-footer {
	.instagram-wrapper { 
		position: relative;
	}
	#instagram {
		position: relative;
		width: 100%;
		background: grey;
	}
	.overlay {
		@extend %absolute-center;
		position: absolute;
		z-index: 1;
		h2 {
			color: white;
			width: auto;
		}
	}
	.shot {
		display: inline-block;
		width: 16.6%;
		opacity: 0.2;
		transition: opacity 0.5s ease;
		&:hover { opacity: 1; }
		img {
			width: 100%;
			height: auto;
		}
	}
}



/************************
	    PROJECTS
*************************/

#project-scroller {
	margin-top: 50px;
	overflow: hidden;

	.project-section {
		padding: 3em 0;
		position: relative;
		border-top: 1px solid grey;
		@extend %clearfix;
		&:nth-child(even) { background: lighten(grey, 5%); }
		&:first-child {
		 padding-top: 0;
		 border-top: none;
		}
	}
	.side {
		width: 50%;
		float: left;
		margin: 0;
		padding: 3em 4%;
		overflow: hidden;
		min-height: 12em;
		text-align: center;
		@extend %clearfix;
		h2 {
			font-size: 48px;
			text-align: center;
			margin-bottom: 35px;
		}
		p {
			width: 70%;
			margin: 0 auto;
			font-size: 18px;
		}
	}
	.side-right {
		//text-align: right;
		.browser { float: left; }
	}
	.side-left {
		//text-align: left;
		.browser { float: right; }
	}

	/* Initial State */
	.init .side {
		opacity: 0;
		transform: translateX( 0 );
	}
	.init .side-left { transform: translateX(-80px); }
	.init .side-right { transform: translateX(80px); }

	/* Animated State */
	.project-section.animate .side-left,
	.project-section.animate .side-right {
	    transition: transform 0.7s, opacity 0.7s;
		transform: translateX(0);
		opacity: 1;
	}
}


@import '_media-queries.scss';