@import 'reset.css', '_variables', '_typography', '_sweet-alert';

/***********************
		BASICS
************************/

body { background: $body-bg; }

img { border-radius: 3px; }

.content-section {
	background: $white;
	@extend %clearfix;
}

.content-section--light {
	background: $neutral-10;
	border-top: 1px solid $neutral-20;
	& + .content-section { border-top: 1px solid $neutral-20; }
}

.margin-container {
	position: relative;
	max-width: $pagewidth;
	margin: 0 auto;
	padding: 0 $spacing*2;
	@extend %clearfix;
}

.section-header {
	margin: $spacing*4 0;
	text-align: center;
	.btn {
		margin-top: $spacing*2;
	}
}

/***********************
        HEADER
************************/

#header {
	background: $black;
    padding: $spacing 0;
    border-bottom: 1px solid $neutral-100;
    @extend %clearfix;
}

.logo {
    float: left;
    height: 34px;
    position: relative;
    top: 1px;
    svg { overflow: visible; }
    &:hover .logo-letter {
        animation: rainbow 0.3s steps(1) infinite; 
    }
}

#logo-c { animation-delay: 0s }
#logo-a1 { animation-delay: 0.05s }
#logo-t { animation-delay: 0.1s }
#logo-n { animation-delay: 0.15s }
#logo-a2 { animation-delay: 0.2s }
#logo-p { animation-delay: 0.25s }

@keyframes rainbow {
    0% { fill: $red; }
    16% { fill: $orange; }
    33% { fill: $yellow; }
    50% { fill: $green; }
    66% { fill: $blue; }
    83% { fill: $purple; }
}

.main-menu {
    float: right;
    a {
        margin-left: 1.5em;
        height: 34px;
        line-height: 34px;
        border-radius: 4px;
        color: $neutral-60;
        float: left;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.8em;
        letter-spacing: 2px;
        transition: color 0.2s ease;
        &:hover, &.active {
            color: $white;
            //background: $neutral-100;
        }
    }
}

/***********************
	   HERO BANNER
************************/

.hero {
	background-color: $black;
	background-image: url(../images/stars.svg);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	color: white;
	p {
		max-width: 630px;
		color: $neutral-50;
		margin-left: auto;
		margin-right: auto;
	}
}

.hero-header {
	color: inherit;
}

.hero-image {
	position: relative;
	z-index: 5;
	pointer-events: none;
}

#home .hero {
	box-shadow: inset 0 -20px 0 $white;
	.section-header p {
		max-width: 570px;
	}
}

/***********************
	     HOME
***********************/

.content-section--services {
	text-align: center;
	padding-bottom: $spacing*4;
}

.services-list {
	margin-bottom: $spacing*3;
	background: radial-gradient(center, ellipse closest-side, $neutral-30 50%, $white 100%);
	@extend %clearfix;
}

.service {
	float: left;
	width: 33.3333%;
	text-align: center;
	vertical-align: top;
	padding-right: 1px;
	padding-top: 1px;
}
.service-wrapper {
	background: $white;
	padding: 4px;
	display: block;
	color: $txt;
}
.service-link {
	text-decoration: none;
	display: block;
	padding: $spacing*2 0;
	border-radius: 3px;
	transition: background 0.2s;
	// &:hover { background: $neutral-10; }
}
.service-image {
	width: 120px;
	pointer-events: none;
	margin-bottom: 25px;
}
.service-description {
	display: none;
	margin: 0 25px;
}

#services .service {
	width: 50%;
	float: left;
	margin-bottom: 50px;
	text-align: left;
	&:nth-child(even) { clear: right; padding-left: 20px; }
	&:nth-child(odd) { clear: left; padding-right: 20px; }
}

.service-subtitle {
	font-style: italic;
	margin-bottom: 25px;
}

.content-section--stand-out {
	background-image: url(../images/stand-out.png);
	background-repeat: no-repeat;
	background-position: bottom 45px center;
	padding-bottom: 480px;
	text-align: center;
}

.content-section--lets-talk {
	text-align: center;
	padding-bottom: $spacing*4;
}

.or {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 $spacing;
}


/************************
	    PROJECTS
*************************/

.projects { @extend %clearfix; }

.project-websites {
	padding-bottom: $spacing*2;
}

.project-website {
	margin-bottom: $spacing*3;
	position: relative;
	@extend %clearfix;
}

.project-website--browser {
	background: $neutral-20;
	display: block;
	border-radius: 5px 5px 3px 3px;
	margin-bottom: $spacing*2;
	overflow: hidden;
	box-shadow: 0 5px 10px 1px $neutral-30;
	.toolbar {
		line-height: 0;
		@extend %clearfix;
	}
	.traffic-lights {
		margin: 10px;
		float: left;
	}
	.traffic-light {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
		&.red { background: $red; }
		&.yellow { background: $yellow; }
		&.green { background: $green; }
	}
	.address-bar {
		background: $white;
		border-radius: 3px;
		display: block;
		height: 16px;
		overflow: hidden;
		margin: 7px;
		box-shadow: 0 1px 0 $neutral-30;
	}
}

.project-website--thumb {
	border-radius: 0;
}

.project-title {
	h3 { display: inline-block; margin-bottom: 6px; }
	.btn {
		margin-left: 1em;
		float: right;
	}
}

.project-shirts {
	padding: 0 $spacing*2 $spacing*2;
	margin-bottom: $spacing;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.project-shirt {
	display: inline;
	img {
		width: 420px;
		margin: 0 $spacing;
	}
}

.project-logos {
	margin: -$spacing;
	margin-bottom: $spacing*3;
	@extend %clearfix;
}

.project-logo {
	width: 50%;
	float: left;
	padding: $spacing;
}

/***********************
	     ABOUT
***********************/

.content-section--members {
	text-align: center;
	padding-bottom: $spacing*4;
}

.members {
	@extend %clearfix;
	margin-right: -$spacing;
	margin-left: -$spacing;
	margin-bottom: $spacing*2;
}

.member {
	padding: 0 $spacing;
	margin-bottom: $spacing*2;
	width: 33.33333%;
	float: left;
}

.member-name {
	margin: $spacing 0;
}

.principles {
	@extend %clearfix;
	text-align: center;
	margin-bottom: $spacing*4;
	.principle {
		margin: $spacing*4 $spacing*3;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 14px;
			height: 14px;
			border: 2px solid $purple;
			background: $neutral-10;
			border-radius: 50%;
			position: absolute;
			top: 5px;
			z-index: 5;
		}
	}
}

.principles-column {
	width: 50%;
	float: left;
	position: relative;
}

.principles-left {
	text-align: right;
	.principle {
		margin-left: 0;
		&:after {
			right: -$spacing*3;
			transform: translate(50%, 0);
		}
	}
}

.principles-right {
	text-align: left;
	box-shadow: -1px 0 0 $purple, inset 1px 0 0 $purple;
	&:before, &:after {
		content: '';
		display: block;
		width: 14px;
		height: 14px;
		border: 2px solid $purple;
		background: $purple;
		border-radius: 50%;
		position: absolute;
		transform: translate(-50%, 0);
	}
	&:before { top: -12px; }
	&:after { bottom: -12px; }
	.principle {
		margin-right: 0;
		&:first-child:after { display: none; }
		&:after {
			left: -$spacing*3;
			transform: translate(-50%, 0)
		}
	}
}

/***********************
	    CONTACT
***********************/

input[type="text"], input[type="email"], textarea {
	display: block;
	background: $neutral-10;
	border: 1px solid $neutral-30;
	padding: 10px;
	border-radius: 3px;
	transition: all 0.1s ease-out;
	&:active, &:focus {
		border-color: $purple;
		box-shadow: 0 0 0 2px $purple;
	}
}

.contact-form {
	padding-bottom: $spacing*4;
	text-align: center;
}

.contact-form--firstname, .contact-form--lastname, .contact-form--email {
	width: 32%;
	float: left;
	margin-bottom: $spacing;
}

.contact-form--lastname { margin-right: 2%; margin-left: 2%; }

.contact-form--message {
	resize: vertical;
	width: 100%;
	min-height: 280px;
}

.contact-form--submit {
	margin-top: $spacing*2;
}

/****************************
          FOOTER
*****************************/

#footer {
	background: $white;
	border-top: 1px solid $neutral-20;
	padding: 25px 0;
    text-align: center;
    font-size: 0.9em;
    color: $neutral-50;
    @extend %clearfix;
}

@import '_media-queries.scss';